.ant-layout-header {
  background: #f8f9fa !important;
  padding: 0% !important;
  margin-bottom: 1rem;
}

.ant-layout-header .navbar {
  padding-top: 0% !important;
  padding-bottom: 0% !important;
}

.ant-layout-header .navbar a h4 {
  margin-bottom: 0% !important;
}

.ant-layout-header .navbar a:hover h4 {
  color: #1890ff;
}

.ant-layout-header
  .navbar
  .navbar-collapse
  .navbar-nav
  .nav-item:hover
  .nav-link {
  color: #1890ff;
}
